<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\AZUL_INTELIGENCE\env\Scripts\python.exe|C:\inetpub\wwwroot\AZUL_INTELIGENCE\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <httpRedirect enabled="false" destination="" exactDestination="false" httpResponseStatus="Permanent" />
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="index.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\AZUL_INTELIGENCE" /> <!-- Path to Venv-->
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\AZUL_INTELIGENCE\app.log" /> <!-- Path to Log-->
  </appSettings>
</configuration>  